main {
    width: 90vw;
    height: 95vh;
    display: none; /* block */
    border-radius: 20px;
    background-image: url("/assets/images/desk1.jpeg");
    background-size: 100% 100%;
}

.entity_card {
    width: 140px;
    height: 190px;
    z-index: 1;
    display: flex;
    margin-left: 20px;
}
.entity_card:first-child {
    margin-left: 0;
}
.entity_card img {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.entity_card span#card_currentAttack {
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    position: absolute;
    margin-top: 158px;
    margin-left: 16px;
    z-index: 2;
}
.entity_card span#card_currentDefense {
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    position: absolute;
    margin-top: 158px;
    margin-left: 115px;
    z-index: 2;
}
.cardCanAttack {
    animation: cardGlow 2s infinite;
}
.cardCanNotAttack {
    filter: brightness(0.7);
}
@keyframes cardGlow {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(1);
    }
}
.cardSelected {
    filter:opacity(0.5);
}

#endturn {
    position: absolute;
    right: 0;
    bottom: 50%;
    margin-right: 7.5%;
    margin-bottom: -1%;
    width: 200px;
    height: 90px;
    background-color: transparent;
    color: transparent;
    border: none;
    background-image: url('/assets/images/endturn.png');
    background-size: 100% 100%;
    transition: .1s cubic-bezier(.3,.01,.3,1.26);
    transition-property: background-color, color, filter, opacity, transform;
}
#endturn:hover {
    filter: brightness(0.85);
}
#endturn:active {
    filter: brightness(0.7);
    transform: scale(.95);
}
#endturn:enabled {
    outline: none;
}